<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navbar Fragment</title>

</head>
<body th:fragment="navbar-fragment">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/templates/home.html}">Grocery Order App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a th:href="@{/view/home}" class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/meals/view-all}" class="nav-link" href="#">Meals</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/stock-item/view-all}" class="nav-link" href="#">Stock Items</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/meal-plan/view}" class="nav-link" href="#">Meal Plan</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2"  type="text" name="search_term"
                       placeholder="Search Wegman's">
                <a href="">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </a>

            </form>
        </div>
    </div>
</nav>
</body>
</html>