<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:replace="~{fragments/navbar-fragment.html :: navbar-fragment}"></div>
<br>
<h1 class="text-center">Grocery Management System Guide</h1>
<br><br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-9 p-3 border border-dark">
            <h3>Why?</h3>
            <p> Do you hate not knowing what you are eating for dinner until the night of? Do you plan out your dinners,
                but
                then realize you forgot to order one essential ingredient from the recipe? Do you stock regular items
                such as
                salad dressings, peanut butter, or salt/pepper and get frustrated when you realize you ran out, right
                when you need
                some? Do you hate bouncing between your freezer, refrigerator, and cabinet to check for each ingredient
                or item you might need to order?  If you answered yes to any of these questions then this system is for you. </p>
            <h3>Use Cases</h3>
            <ol>
                <li>User can add meals that they eat regularly:</li>
                <ul>
                    <li>Add a name for the meal</li>
                    <li>Add the ingredients for the meal with a storage location of each ingredient</li>
                    <ol>
                        <li>Freezer</li>
                        <li>Refrigerator</li>
                        <li>Cabinet</li>
                    </ol>
                    <li>Add a recipe for the meal</li>
                </ul>
                <li>User can create a weekly meal plan by selecting a meal for each day of the week
                    from their saved meals.
                </li>
                <li>User can add stock items for items that are used/consumed on a regular basis:</li>
                <ul>
                    <li>Add a name for the stock item</li>
                    <li>Add a storage location for the stock item</li>
                    <ol>
                        <li>Freezer</li>
                        <li>Refrigerator</li>
                        <li>Cabinet</li>
                    </ol>
                </ul>
                <li>User can generate a preliminary grocery list separated by item location each week from their
                    meal plan ingredients and stock items needed. User can then check each location
                    (ie: Freezer, Cabinet, etc.) for the items that are on the list and check off if they need to
                    be ordered or not based on current supply. The system will then generate a final grocery order
                    that the User can check off as items are added to their shopping cart.
                </li>
                <li>User can search Wegman's website for ingredients and/or stock items.</li>
                <li>User can view tonight's meal, ingredients needed, and recipe from their home page.</li>
            </ol>
            <h3>Set Up</h3>
            <p>   When the user first boots the application it will load some initial data to include 7 meals and
                several random stock items. From here user should either navigate to the Meals page to add additional
                meals or create a Meal Plan. Once a meal plan is created, User can navigate to Stock Items to add/remove
                their standard weekly items. Now the User can navigate to the Grocery Order to start generating a
                grocery list.
            </p>
        </div>
    </div>
</div>
</body>
</html>