<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>New Food Item</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:replace="fragments/navbar-fragment.html :: navbar-fragment"></div>
<br><br>
<h3 class="text-center">Add Stock Item</h3>
<br>
<div class="container d-flex justify-content-center">
    <form action="#" th:action="@{/food/new-food}" th:object="${foodItem}"
          method="post">
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Item</span>
            <input type="text" th:field="*{name}" required class="form-control" placeholder="Enter item name"
                   aria-label="Username" aria-describedby="addon-wrapping">
            <ul class="dropdown">
                <select th:field="*{location}">
                    <li>
                        <option class="dropdown-item" th:value="Refrigerator">Refrigerator</option>
                    </li>
                    <li>
                        <option class="dropdown-item" th:value="Freezer">Freezer</option>
                    </li>
                    <li>
                        <option class="dropdown-item" th:value="Cabinet">Cabinet</option>
                    </li>
                    <li>
                        <option class="dropdown-item" th:value="Pantry">Pantry</option>
                    </li>
                </select></ul>
        </div>
        <br>

        </tr>
        <br>
        <tr>
            <td colspan="2">
                <button type="submit" class="btn btn-outline-dark">Save</button>
            </td>
        </tr>
        </table>
    </form>
</div>
</body>
</html>